@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif, monospace;
}


@layer utilities {
  .search-box {
    @apply border-2 border-gray-300 rounded-lg p-2;
  }

  .flex-center {
    @apply flex justify-center;
  }

  .input {
    @apply w-72 sm:w-96  h-14 p-4 border-2 rounded-lg my-2 border-gray-600; 
  }

  label {
    @apply text-lg font-normal;
  }

  .error-msg{
    @apply text-red-500;
  }

  
}

body{
  background-color: rgb(231, 231, 231);
  font-family: 'Roboto';
}

input{
  background-color: rgb(231, 231, 231);
}

.menu li{
  border-bottom: 1px solid rgb(197, 195, 195);
  margin-top: 5px;
  padding: 5px;
}

.menu li:hover{
  background-color: rgb(232, 229, 229);
}

.menu li Link{
  background-color: red;
  display: block;
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,#000 90%,#0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}